@(post: Post, prev: Option[Post], next: Option[Post], comment: Form[CommentData])
@import helper._

@main(post.title) {
  <ul id="pagination">
    @if(prev.isDefined) {
      <li id="previous">
        <a href="@routes.Application.show(prev.get.postId.get)">
        @prev.get.title
        </a>
      </li>
    }
    @if(next.isDefined) {
      <li id="next">
        <a href="@routes.Application.show(next.get.postId.get)">
        @next.get.title
        </a>
      </li>
    }
  </ul>
  @tags.display(post, "full")

  <h3>Post a comment</h3>
  @form(action = routes.Application.postComment(post.postId.get)) {
    @inputText(comment("author"))
    @textarea(comment("content"))
    <input type="submit" name="submit-comment" value="Submit your comment" />
  }
}
