logs
project/project
project/target
target
tmp
.history
dist
/.idea/libraries
/.idea/modules
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
